certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
cryptography==3.4.8
Cython==0.29.23
docutils==0.17.1
gensim==4.1.2
idna==3.2
importlib-metadata==4.8.1
joblib==1.0.1
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivymd==0.104.2
networkx==2.6.3
nltk==3.6.3
numpy==1.21.2
pdfminer==20191125
pdfminer.six==20201018
Pillow==8.3.2
pycparser==2.20
pycryptodome==3.10.1
Pygments==2.10.0
pypiwin32==223
pywin32==301
regex==2021.8.28
requests==2.26.0
scikit-learn==0.24.2
scipy==1.7.1
sklearn==0.0
smart-open==5.2.1
sortedcontainers==2.4.0
threadpoolctl==2.2.0
tqdm==4.62.2
typing-extensions==3.10.0.2
urllib3==1.26.6
zipp==3.5.0
